# Log Schema {{ package_name }}

This repository is for storing the various models/schemas used for a specific suite of software.

If there are a set of fields you consistently add to your logs for a suite of software/services you own, these fields can be extrapolated here and use in conjunction with the ``log-schema`` utility library to provision your software with the correct logs.  

