from pydantic import Field

from src.log_schema_{{ package_name }}.generated.example import ExampleLogFields


class ExampleLogFieldsCustom(ExampleLogFields):
    new_static_field: str = "Hello"
    custom_dynamic_field: str = Field(default_factory=lambda: "World")
